{
  "singleQuote": true,
  "printWidth": 100,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "bracketSpacing": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
